<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
    <meta charset="UTF-8">
    <title>Spring Boot + AWS</title>
</head>
<body>
    <h1>Spring Boot with Aws Version 2 test 2</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a th:href="@{/posts/save}" role="button" class="btn btn-primary">
                    글 등록
                </a>
                <span id="user" th:if="${userName!=null}" th:text="|Logged in as ${userName}|"></span>
                <a th:href="@{/logout}" th:if="${userName!=null}" class="btn btn-info active" role="button">Logout</a>
                <a th:href="@{/oauth2/authorization/google}" th:if="${userName==null}" class="btn btn-success active" role="button">Google Login</a>
                <a th:href="@{/oauth2/authorization/naver}" th:if="${userName==null}" class="btn btn-secondary active" role="button">Naver Login</a>
            </div>
        </div>
        <br>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종 수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
                <tr th:each="post : ${posts}">
                    <td th:text="${post.id}"></td>
                    <td><a th:href="@{|/posts/update/${post.id}|}" th:text="${post.title}"></a></td>
                    <td th:text="${post.author}"></td>
                    <td th:text="${post.modifiedDate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</body>
</html>